name: Build and Release apk

permissions:
  contents: write

on:
  push:
    branches:
      - demo
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: subosito/flutter-action@v1
        with:
          channel: stable
          flutter-version: '3.35.3'

      - run: flutter pub get
      - run: flutter build apk

      - name: Create a Release APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk"
          token: ${{ secrets.GITHUB_TOKEN }}
